<h2>Welcome!! Know who is your most Recent Unfollower </h2><br />
<table>
	<tr><td><%= link_to "Twitter", @urlt %></td></tr>
	<tr><td><%= link_to "Facebook", @urlf %></td></tr>
</table>
 <!-- <p><strong>Please Sign into Account through Twitter</strong></p>

<a href="/auth/twitter" class="auth_provider">
    <%= image_tag "twitter_64.png", :size => "64*64", :alt => "twitter_64" %><br />	
    Twitter
</a>
-->